<page-header></page-header>


<mat-card>
  <mat-card-header>
    <mat-card-title>Nova Solicitação</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="formSol" (ngSubmit)="submit3()">
      <formly-form [form]="formSol" [fields]="fieldsSol" [model]="modelSol"></formly-form>
      <button mat-raised-button color="primary">Submit</button>
    </form>
  </mat-card-content>
</mat-card>

<mat-card>
  <mtx-grid
    [columns]="columns"
    [data]="lista">
  </mtx-grid>
</mat-card>
<button mat-stroked-button (click)="updateList()">Update List</button>
